:root {
    --white: #FFF;
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
    --dairy: #E7E9FC;
}

.body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-weight: 700;
    background-color: var(--white);
    color:#434455;
}

.studio {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-menu-contacts {
    flex-wrap: wrap; 
}

.order-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.logo {
     text-decoration: none;
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5
}

.menu-list {
     text-decoration: none;
     color:#2E2F42;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.menu-list:hover {
    color: #404bbf;
}
.menu-list:focus {
 color: #404bbf;
}

.logo-menu {
     margin-left: 156px;
}

.menu {
     margin-left: 36px;
     color: var(--navyblue);
     list-style: none;
}

.mail-phone {
     margin-left: auto;
     margin-right: 156px;
     font-style: normal;

}

.mail-phone-link {
     color: var(--slate);
     text-decoration: none;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.mail-phone-link:hover {
     color: #404bbf;
}

.hero {
     background: var(--navyblue);
     justify-content: center;
     text-align: center;
}

.hero-title {
     font-size: 56px;
     font-weight: 700;
     line-height: 1.07;
     letter-spacing: 1.12px;
     color: var(--white);
}

.order-button {
     background: var(--iris);
     cursor: pointer;
     color: var(--white);
     letter-spacing: 0.64px;
}

.order-button:hover {
     background: var(--ocean);
     color: var(--white);
}

.order-button:focus {
     background: var(--ocean);
     color: var(--white);
}

.feature-ul {
     margin-top: 120px;
     justify-content: center;
     list-style: none;
}

.feature-list-head {
     color: var(--navyblue);
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.4px;
     font-weight: 500;
}

.feature-list-p {
     color: var(--slate);
     font-size: 16.px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.key-people {
     margin-top: 120px;
     background: var(--cloud);
     justify-content: center;
}

.key-people-head {
     color: #2e2f42;
     text-align: center;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.11;
     letter-spacing: 0.72px;
     text-transform: capitalize;
}

.key-people-ul {
     margin-top: 72px;
     justify-content: center;
     list-style: none;
}

.key-people-list {
     text-align: center;
     background: var(--white);
}

.key-people-names {
     color:#2E2F42;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
     font-weight: 500;
}

.key-people-roles {
     color: #434455;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.project-cards-ul {
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.project-cards-list {
    margin-bottom: 38px;
    border: 1px solid var(--cornflower, var(--dairy));
    background: var(--white, var(--white));
}

.project-cards-head {
    margin-top: 32px;
    color: var(--navyblue);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.project-cards-types {
    color: var(--slate);
    font-weight: 400;
}

.logo-end {
    background: var(--navyblue);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo {
    text-decoration: none;
    margin-left: 156px;

}


.end-studio {
    margin-top: 101.5px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #F4F4FD;
}

.end-p {
    margin-left: 156px;
    padding-top: 17.5px;
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
}